# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing / Build outputs
/dist
/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env
.env.*
!.env.example